{% extends "layout.html" %}
{% block body %}

    <div class="well editPanel">
        <h2>Cards and Questions</h2>
        <form action="{{ url_for('add_card') }}" method="post" class="cardForm">
            <div class="form-group">
                {% for card_type in card_types %}
                <label for="{{ card_type.card_name }}" class="toggleButton btn btn-default btn-lg">{{ card_type.card_name }} &nbsp;
                    <input type="radio" name="type" value="{{ card_type.id }}" id="{{ card_type.card_name }}"/>
                </label>
                {% endfor %} 
            </div>
            <div class="form-group fieldFront">
                <label for="front">Front of Card</label>
                <input type="text" name="front" id="front" class="form-control">
            </div>
            <div class="form-group fieldBack">
                <label for="back">Back of Card</label>
                <textarea name="back"
                          class="form-control"
                          id="back"
                          placeholder="back of card"
                          rows="12"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="saveButton btn btn-lg btn-primary">Save</button>
            </div>
        </form>
    </div>

    <div class="row panel-body">
    <table class="table table-bordered">
            <tr>
                <td><b>Edit</b></td>
                <td><b>Known</b></td>
                <td><b>Card Details</b></td>
                <td colspan="2"><b>Question Types</b></td>
            </tr>
        {% for card in cards %}
            <tr>
                <td>
                    <a href="{{ url_for('edit', card_id=card.id) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td>
                    {% if card.known == True %}
                    known
                    {% endif %}
                </td>
                <td class="cardContent">
                    <h4>
                        Front: {{ card.front }}
                    </h4>
                    {% if card.type == 1 %}
                        Back: {{ card.back|replace("\n", "<br />")|safe }}
                    {% else %}
                        Back: <pre><code>{{ card.back|escape }}</code></pre>
                    {% endif %}
                </td>
                <td>
                    <a href="/update/multiple_choices/card/{{ card.id }}" class="btn btn-primary" role="button">Multiple Choice</a> 
                    <a href="/update/ordered/card/{{ card.id }}" class="btn btn-primary" role="button">Ordered</a> 
                    <a href="/update/picture/card/{{ card.id }}" class="btn btn-primary" role="button">Pictures</a> 
                    <a href="/update/tree/card/{{ card.id }}" class="btn btn-primary" role="button">Tree</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <em>No cards to show.</em>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>



{% endblock %}
